#post-content {
  line-height: 1.875em;

  & h1 {
    font-size: 2em;
  }

  & h2 {
    font-size: 1.8em;
    border-bottom: solid 1px #edf2f6;
    padding-top: 2em;
    padding-bottom: 0.5em;
    font-weight: bold;
  }

  & h3 {
    font-size: 1.3em;
    font-weight: bold;
    padding-top: 2em;
  }

  & h4 {
    font-size: 1.3em;
    margin-top: 1.7em;
    border-left: solid 1px rgba(0, 0, 0, 0.88);
    padding-left: 0.5em;
  }

  & h5 {
    font-size: 1em;
    margin-top: 1.5em;
    font-weight: bold;
  }

  & p {
    font-size: 1em;
    padding-top: 1em;
  }

  & ol {
    list-style-type: decimal;
    padding-left: 2em;
  }

  & ul {
    list-style-type: disc;
    padding-left: 2em;
  }

  & li {
    padding: 0.2em 0;
  }

  & a {
    color: #0f83fd;
  }

  // インラインコード
  & :not(pre) > code {
    padding: 0.2em 0.4em;
    background: rgba(33, 90, 160, 0.07);
    font-size: 0.85em;
    border-radius: 4px;
    vertical-align: 0.08em;
    color: #ff357f;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace,
      Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  }

  // コードブロック
  & pre {
    max-width: 88vw;
    overflow: scroll;
  }
  & pre > code {
    font-size: 0.9em;
  }

  & .image-link {
    display: block;
    padding: 2vw;
    & .gatsby-image-wrapper,
    & .draft-image-wrapper {
      background-color: rgba(255, 255, 255, 1);
      box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 3px 0 rgba(0, 0, 0, 0.1),
        0 1px 2px 0 rgba(0, 0, 0, 0.06);
    }
  }

  & .iframe-wrapper {
    width: 100%;
    position: relative;
    padding-top: calc(630 / 1200 * 100%);

    & iframe {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      padding: 1rem;
    }
  }
}
