name: cloudflare pages

on:
  workflow_dispatch:
#     branches:
#       - master
  push:
    branches:
      - cloudflare-pages

jobs:
  build-deploy:
    runs-on: ubuntu-18.04
    steps:
    - name: checkout branch
      uses: actions/checkout@v2
      with:
        ref: cloudflare-pages

    - name: deploy
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        git config --local user.email "kazuki.k.bl8+github.momio@gmail.com"
        git config --local user.name "momiom"
        git fetch origin
        git merge origin/main
        git commit --allow-empty -m "Deploy cloudflare pages."
        git push
